<!DOCTYPE html>
<html ng-app="venimos">
  <head>
    <meta charset="utf-8">
    <title>Venimos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <!-- PLACE AUTHCONTROLLER HERE -->
  </head>
  <body ng-controller="authController">

	<!-- First Screen -->
	<div ng-if="splitwiseUser === null">
		<!-- Sign in with Splitwise -->
		<button ng-click="$parent.authenticate()">Sign In With Splitwise</button>
	</div>

  </body>
</html>