<!-- notReallyIndex.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="venimosApp">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->

    <title>Venimos App</title>

    <!-- SCROLLS -->
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/custom.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Bitter"> -->
    <!-- <link href="/stylesheets/simple-sidebar.css" rel="stylesheet"> -->

    <!-- SPELLS -->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js">
    </script><!-- load angular -->
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
</head>

<!-- SET THE CONTROLLER -->
<body data-spy="scroll"  ng-controller="mainController">
    <div id ="wrapper">
        <div ng-hide= "pay" class = "order"> 
            <!-- <form class ="newOrder">  -->
                <button class = "submitButton"  ng-click = "authenticate()"> Login With Split wise In order to use our app </button>  <!-- Include this later ng-click = "pay = true" -->
            <!-- </form> -->
        </div>

<!--         <div ng-show = "pay" class = "pay">
            <label>Card Number</label> <br>
            <input type="text" size="20" autocomplete="off"> <br>
            <span>Enter the number without spaces or hyphens.</span> <br>
            <label>CVC</label> <br>
            <input type="text" size="4" autocomplete="off"> <br>
            <label>Expiration (MM/YYYY)</label> <br>
            <input type="text" size="2"><br>
            <span> / </span> <br>
            <input type="text" size="4"> <br>
            <button id = "submitPaymentButton" ng-click = "saveNewPersonalOrder()"> Submit Payment</button>
            <button id = "cancelPaymentButton"> Cancel Payment</button>
        </div> -->

    </div>
</body>
</html>