<!DOCTYPE html>

<html ng-app="venimos">

<head>
	<title>Order</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link href="./stylesheets/order.css" rel="stylesheet" />
    
    <link href="./stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="./stylesheets/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="./stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

	<script src="./javascripts/order.js"></script>

	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
</head>

<body ng-controller="orderController">
	<!-- Lookup Address (if user has not joined order) -->
	<div ng-if="order === null && splitwiseUser !== null && lookupAddress === false" class="form_contain">
		<form id="address_form">
			<h1>Enter Your Address</h1>
			<input type="text" placeholder="Street Address" ng-model="$parent.street" class="form-control" /><br />
			<input type="text" placeholder="City" ng-model="$parent.city" class="form-control" /><br />
			<input type="text" placeholder="State" ng-model="$parent.state" class="form-control" /><br />
			<input type="number" placeholder="Zipcode" ng-model="$parent.zip" class="form-control" /><br />
			<button ng-click="$parent.searchAddress()" class="form-control">Look Up This Address</button>
		</form>
	</div>

	<!-- Choose address -->
	<div ng-if="order === null && splitwiseUser !== null && lookupAddress === true" class="form_contain">
		<h1>Stores Closest To You</h1>
		<div ng-repeat="store in $parent.addresses">
			<button ng-click="$parent.chooseStore(store.StoreID)" class="form-control">
					{{store.AddressDescription}}
			</button><br />
		</div>
		<button class="form-control" ng-click="$parent.lookupAddress = false">Go back</button>
	</div>

	<!-- Menu from store -->
	<div ng-if="order !== null" id="order_area" ng-cloak>
		<md-content>
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="Products" id="first_tab">
					<div id="first_tab_productkeys">
						<h2 ng-repeat="productKey in $parent.productKeys"
							ng-click="$parent.showProductKey(productKey)">
								{{productKey}}
						</h2>
					</div>

					<div id="first_tab_product_display">
						&nbsp;
						<ul>
							<li ng-repeat="product in $parent.products[$parent.productKeyToShow]"
								ng-click="$parent.showProductTypes(product.Code)">
								
								{{product.Name}}<br />-- {{product.Description}}

								<div ng-if="$parent.productTypeToShow == product.Code">
									<h3>Types:</h3>
									<ul>
										<label ng-repeat="variant in product.Variants">
											<input class="orderRadio" type="radio" 
											value="{{$parent.variants[variant].Code}}"
											name="{{$parent.variants[variant].Name}}" />
											{{$parent.variants[variant].Name}} -- ${{$parent.variants[variant].Price}} --

											<input type="hidden" id="price_{{$parent.variants[variant].Code}}"
											value="{{$parent.variants[variant].Price}}" />

											Quantity: <input type="number" min="1" max="10"
											value="1" name="qty_{{$parent.variants[variant].Code}}" 
											id="qty_{{$parent.variants[variant].Code}}" /><br />
										</label>
									</ul>

									<h3 ng-if="product.AvailableToppings.length > 0">Toppings:</h3>
									<ul>
										<label ng-repeat="topping in product.AvailableToppings">
											<input ng-if="$parent.checkIsDefault(product.DefaultToppings, topping.name)" type="checkbox" 
											class="toppingCheckbox" value="{{topping.name}}" name="{{topping.name}}" checked/>

											<input ng-if="!$parent.checkIsDefault(product.DefaultToppings, topping.name)" type="checkbox" 
											class="toppingCheckbox" value="{{topping.name}}" name="{{topping.name}}" />

											{{$parent.toppings[topping.name].Name}}<br />
										</label>
									</ul>

									<button ng-click="$parent.addToOrder()">
										Add to Order
									</button>

								</div>
							</li>
						</ul>
					</div>
				</md-tab>

				<md-tab label="Your Order" id="order_tab">
					<ul>
						<li ng-repeat="item in $parent.individualOrder.myOrder">
							{{$parent.variants[item.code].Name}} (x{{item.quantity}}) @ ${{item.price}} each
							<ul>
								<li ng-repeat="topping in item.toppings"
									ng-if="topping !== ''">
									{{$parent.toppings[topping].Name}}
								</li>
							</ul>
						</li>
					</ul>

					Total: ${{$parent.individualOrder.price}}
				</md-tab>

				<md-tab ng-if="isOrderOwner" label="Friends">
					<ul>
						<li ng-repeat="friend in $parent.splitwiseFriends"
							ng-if="!$parent.isAlreadyCollaborator(friend.id)"
							ng-click="$parent.addCollaborator(friend.firstName, friend.lastName, friend.id)">
							{{friend.firstName}} {{friend.lastName}}
						</li>
					</ul>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
</body>

</html>