.form_contain {
	width:50%;
	display:block;
	margin:auto;
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

#order_area {
	width:80%;
	display:block;
	margin:auto;
}

#first_tab_productkeys {
	width:20%;
	float:left;
}

#first_tab_product_display {
	width:80%;
	float:right;
}

.entry:hover {
	background:#18bc9c;
}

.entry_button {
	float:right;
}

#collaborators {
	width:50%;
	float:left;
	text-align:center;
}

#friendsToAdd {
	width:50%;
	float:right;
	text-align: center;
}